apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: url-shortener-backend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        env:
        - name: MONGO_URI
          value: "mongodb://mongo:27017"
        - name: DB_NAME
          value: "shortener_db"
        - name: REDIS_URL
          value: "redis://redis:6379"
        - name: CACHE_TTL
          value: "3600"
        - name: MACHINE_ID
          value: "1"

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: LoadBalancer
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000